.App {
  box-sizing: border-box;
}

.color-button {
  text-align: center;
  vertical-align: middle;
}

.color-button:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.01);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.color-button:active {
  transform: scale(0.98);
}
